
SwiftJSON.playground/playground.xcworkspace/contents.xcworkspacedata

SwiftJSON.playground/playground.xcworkspace/xcuserdata/AlexanderLingtorp.xcuserdatad/UserInterfaceState.xcuserstate

SwiftJSON.playground/Sources/SupportCode.swift

SwiftJSON.playground/timeline.xctimeline
